In [3]:
import pandas as pd

train_ds = pd.read_csv('train.csv')
test_ds = pd.read_csv('test.csv')

In [4]:
train_ds.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
test_ds.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
train_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [5]:
len(train_ds['location'].unique())

3342

In [5]:
len(train_ds['keyword'].unique())

222

In [6]:
train_ds['location'].isna()

0       True
1       True
2       True
3       True
4       True
        ...
7608    True
7609    True
7610    True
7611    True
7612    True
Name: location, Length: 7613, dtype: bool

In [7]:
train_ds['location'].isna().sum()

np.int64(2533)

In [8]:
train_ds['location'].notna().sum()

np.int64(5080)

In [9]:
train_ds['keyword'].isna().sum()

np.int64(61)

In [10]:
train_ds['keyword'].notna().sum()

np.int64(7552)

In [11]:
train_ds['target'].isna().sum()

np.int64(0)

In [12]:
train_ds['target'].notna().sum()

np.int64(7613)

In [13]:
type(train_ds['text'])

pandas.core.series.Series

In [14]:
train_ds['text']

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object